.homeBackground {
    background-image: url(img/tofino.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

.nav-container {
    position: relative;
    padding-bottom: 250px;
    z-index: 4;
	width: 96%;
    text-align: center;
}

nav {
    float: center;
    text-align: center;
}
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
  
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    text-align: center;
    position: relative;
}
  
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}
  
nav a:hover {
    color: #444;
}
  
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
  
nav a:hover::before {
    width: 100%;
}

.body-text {
    background-color: rgb(67, 66, 66);
    border-radius: 5px;
    padding: 20px;
    position: relative;
    margin: 1% auto;
    max-width: 650px;
    line-height: 1.5;
    text-align: left;
    text-justify: inter-word;
}

.justify {
    text-align: justify;
}

.quick-links-container p {
    line-height: 2;
}

.links-container {
    position: absolute;
    width: 20%;
    min-width: 80px;
    display: grid;
    padding: 3%;
}
  
#links-container1 {
    top: 15%;
}

.links-container {
    padding: 0;
    width: auto;
    font-size: 12px;
}

#links-container1 {
    top: 20%;
}

.links-inner {
    color: white;
    margin-bottom: 20%;
    min-width: 120px;
}

.square-button {
    opacity: 1;
    display: block;
    text-decoration: none;
    color: #788E99;
    border: 1px solid #788E99;
    border-radius: 3px;
    transition: .4s;
    text-align: center;
    min-width: 90px;
    margin: 2.75px 7px 2.75px 0;
    padding: 3px 10px;
}

.square-button:hover {
    background: #788E99;
    color: white;
}

.col-md-4 {
    line-height: 200%;
    justify-content: center;
    align-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 7vh;
}

.cardsclass figure {
    position: relative;
    overflow: hidden;
    display: flex;
}

.cardsclass figure figcaption {
    padding: 20px 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.cardsclass figure a { 
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.cardsclass figure .icon {
    background: #607D8B;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 48px;
    height: 48px;
    display: inline-block;
}

#projects figure .icon span {
	font-size: 18px;
	line-height: 18px;
	padding: 15px;
}

.cardsclass figure img {
    height: 300px;
    width: 100%;
}

.cardsclass figure h3 {
    color: #FFF;
    font-weight: 600;
    margin-bottom: 5px;
}

figure.effect {
    background: #607D8B;
    color: white;
}

figure.effect h3 {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect p {
    padding-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    font-size: medium;
}

figure.effect img {
    width: -webkit-calc(100% + 20px);
    width: calc(100%);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect:hover img {
	opacity: 0.1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect:hover h3 {
	opacity: 1;
}

figure.effect h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect figcaption {
    text-align: left;
}

.cardsclass .row > div {
    margin-bottom: 30px;
}

.navbuttonformat {
    color: whitesmoke !important; 
    font-size: 2rem; 
}

.navbuttonformat:hover {
    font-weight: bolder !important;
    text-decoration: overline !important;
}

/* .imageformat {
    width:50%; 
    position:absolute; 
    top:62.5%; left:50%; 
    transform: translate(-50%,-50%);
} */

.navbarstyle {
    background-color: rgb(83, 81, 81); 
    height:85px !important; 
    position: sticky; top:0; z-index: 999; 
    width: 100%;
    border-top: 2px #607D8B solid;
    border-bottom: 10px #607D8B solid;

}

.navbar {
    margin-bottom: 0px !important;
    border-radius: 0 !important;
}

/* .pagecontentstyle {
    text-align: center;
    color: black;
} */

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}

/* .scroll-down {
    height: 80px;
    width: 70px;
    display: block;
    position: absolute;
    bottom: 3vh;
    background-color: rgb(83, 81, 81);
    text-align: center;
    z-index: 6;
    border: whitesmoke 2px solid;
    cursor: pointer;
    border-radius: 3000px;
    left: calc(50% - 35px);
} */