.homeBackground {
    background-image: url(img/tofino.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

.nav-container {
    position: relative;
    padding-bottom: 280px;
    z-index: 4;
	width: 96%;
    text-align: center;
}

nav {
    float: center;
    text-align: center;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    text-align: center;
    position: relative;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
  }
  
  nav a:hover {
    color: #444;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }